body{
    width:100%;
        margin: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Roboto';
    }
    
    a:link{
        text-decoration: none;
    }

    h2{
        font-family: Poppins;
        font-weight: 600;
        font-size: 54px;
        line-height: 60px;
    }

    p{
        margin: unset;
    }
    
    section {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .inner {
        width: 100%;
        max-width: 1281px;
        display: flex;
        flex-direction: column;
    }
    
    .row {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .column{
        display: flex;
        flex-direction: column;
    }
    .space-between {
        justify-content: space-between;
    }

    .header1{
        gap:8px;
        margin-top:8px;
    }

    .header1 img {
        width: 11px;
        height: 16px;
        padding-top: 2px;
    }

    a.country{
        color: #141414;
        text-decoration: unset;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px; 
        opacity: 40%;
    }

    a.country:hover, a.phone:hover {
        color:#FF5621;
    }

    a.country::after {
        content: url(Triangle.png);
        padding-left: 8px;
    }
    a.country:hover::after {
        content: url(Triangle\ up.png);
        padding-left: 8px;
    }

    .arrow img{
        width: 8px;
        height: 8px;
        padding:0px 12px 0px 8px;
    }

    a.country::before{
        content: url(Combined\ Shape.png);
        padding-right: 8px;
        opacity: 1;
    }

    a.phone {
        color: #141414;
        text-decoration: unset;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        margin-left: 12px;
    }

    .header2{
        margin-bottom: 16px;
    }

    .menu {
        align-items: center;
        display:flex;
    }

    .menu a {
        display: flex;
        justify-content: center;
        padding: 16px;
        font-family: poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-decoration: unset;
        color: #141414;
    }

    a.drop::after {
        content: url(Down-16.png);
        margin-top: 2px;
        margin-left:4px;
    }

    a.drop:hover::after{
        content: url(up-16.png);
    }

    .menu a:hover {
        color:#FF5621;
    }
    a.login::before{
        content: url(Shape.png);
        margin-top: -1px;
        margin-right:6px;
    }
    
    a.cta-btn{
        background: #FF5621;
        color: white;
        border: 2px solid #FF5621;
        padding: 16px;
        text-decoration: none;
        font-family:poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }

    a.cta-btn:hover{
        background: unset;
        color:#141414;
        border: 2px solid #141414;
    }

    a.cta-btn img{
        width: 24px;
        height: 16px;
        margin-top: 4px;
        margin-left: 8px;
    }

.section2 {
    background-color: #FAFAFA;
    padding: 120px 0px 120px 0px;
}

.forty{
    width: 40%;
}
a.link {
    color:#FF5621
}

a.cta-btn2 .row:hover{
    border: 2px solid #FF5621;
    background-color: #FF5621;
    padding: 16px;
    width: 227px!important;
}

a.cta-btn2 p:hover{
    color: white;
}

a.cta-btn2 .row{
    color: #141414;
    border: 2px solid #141414;
    padding: 16px;
    width: 227px!important;
}

a.cta-btn2 p{
    color: #141414;
    text-decoration: none;
    font-family:poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
}
.forty2{
    padding-left: 35%;
}

.sixty{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 568px;
}

.column1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.section3{
    background-color: #2C2832;
}

.indi{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}



.in3 h2{
    color: white!important;
    margin: 120px 0px 80px 0px;
}

.col3 {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 120px;
    width: 100%;
}
.col1 p {
    color: white;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 32px;
}

.col1 img{
    width: 100%;
}
.col1{
    width: 33.33%;
}
p.numb {
    font-family: 'Poppins';
    font-size: 100px;
    line-height: 96px;
    font-weight: 700;
}

p.crr {
    font-family: 'Poppins';
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
}

.footer .col3 {
    padding-top: 96px;
    gap:80px;
    padding-bottom: 63px;;
}

p.top{
    color: #141414;
font-weight: 500;
}

p.fcountry, a.fcountry {
    font-weight: 400;
    color:#141414;
    text-decoration: none;
    font-family: roboto;
    font-size: 18px;
    line-height: 32px;

}

p.first, a.first {
    padding-top: 24px;
}

.last a.fcountry {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.last span {
    font-weight: 800;
}

.footer{
    padding-bottom: 32px;
}

a.llink:hover{
    color:#FF5621;
}

.hyperlinks {
    gap:32px;
}

.links .row{
    gap: 32px;
}

p.copy{
    color: #9790A3;
    font-size: 14px;
    line-height: 20px;
    font-family: roboto;
}
.mob-img{
    display: none;
}

/*mobile menu*/

.dropbtn {
    background-color: #FF5621;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #FF5621;
color:white}
  
  .dropdown:hover .dropdown-content {display: block;}
  

.copy2{
    display:none;
}
@media only screen and (max-width: 1024px){
    p.copy{
        display: none;
    }

    p.copy2 {
        display: flex;
    margin-top: 12px;
    }
    .inner {
        padding-left:  12px!important;
        padding-right:  12px!important;
    }

    .menu{
        display: none;
    }

    .dropdown{
        display: inline-block;
    }

    a.cta-btn{
        display: none;
    }

    a.cta-mob{
        display: flex!important;
        background-color: unset!important;
        border:none!important;
    }

    a.cta-mob:hover{
        color: #FAFAFA;
        background-color: #FF5621!important;
    }

    a.cta-mob .row{
        flex-direction: row;
    }

    .dropdown-content {
        left:-98%;
}

.mobrow .row{
    flex-direction: row!important;
}

.in3 .col3 {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 60px;
    width: 100%;
}

.in3 .col1{
    width: 100%;
    display: flex;
    justify-content: center;
}
}

@media only screen and (max-width: 767px){

    


    .forty2{
        display: none;
    }

    
    .forty, .sixty{
        width: 100%;
    }

    .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section2{
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .section2 .inner{
        gap: 56px;
    }

    a.cta-btn2 .row {
        flex-direction: row;
    align-items: center;
    }

    .forty1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .header2{
        gap: 12px;
        margin-top: 12px;
    }

    p.copy{
        padding: 8px 0px 8px 0px;
    }

    
}

@media only screen and (max-width: 500px){
    .dropdown-content {
        left:unset;
}
h2{
    font-size: 48px;
}

.footer .col3 {
    display: flex;
    flex-direction: column;
}
.col1{
    width: 100%;
}
.mob-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap:24px
}

.mob-img .row{
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

}

.desk-img{
    display: none;
}

.last{
    gap:12px;
}

.mobrow .row {
    flex-direction: column!important;
}

.hyperlinks{
    gap:12px;
}

.links .row{
    gap:24px;
    flex-direction: row!important;
}

}